.JobEntry {
  margin-bottom: 8rem;
}
.JobEntryTitle {
  margin-bottom: 4rem;
}
.JobEntryCTA {
  margin-top: 4rem;
}

.JobInfo {
  display: grid;
  grid-gap: 2rem;
}

.List {
  list-style: circle;
  padding-left: 3rem;
}