@import './../../theme/colors.scss';
@import './../../theme/variables.scss';

.navigation {
  display: flex;
  flex-direction: row;
  color: $color-text-base;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.invert { 
  color: white;
  text-shadow: rgba(0,0,0,.5) 0 0 7px;
}
.invert:hover .navItem { 
  text-shadow: rgba(0,0,0,0) 0 0 0;
}
.navItem {
  transition: $animation-medium;
  margin-left: 1rem;
}
.navItem:hover {
  color: $color-primary;
}