$color-primary: rgb(20,153,105);
$color-secondary: rgb(109,25,100);
$color-text-base: rgb(44,44,44);
$color-text-negative: rgb(255,255,255);
$color-gray: rgb(207,207,207);
$color-element-shadow: rgba(0,0,0,.15);
$color-background-primary: rgb(255,255,255);
$color-background-secondary: rgb(248,249,253);
$color-background-navigation: rgb(44,44,44);
$color-border: rgb(207,207,207);
$color-disable-gray: rgb(207,207,207);

// alerts
$color-info: rgb(4,149,255);
$color-success: rgb(12,198,111);
$color-warning: rgb(255,170,0);
$color-error: rgb(255,61,113);
$color-info-shadow: rgba(4,149,255,.75);
$color-success-shadow: rgba(12,198,111,.75);
$color-warning-shadow: rgba(255,170,0,.75);
$color-error-shadow: rgba(255,61,113,.75);