@import './../../theme/colors.scss';
@import './../../theme/variables.scss';

.Footer {
  display: grid;
  grid-gap: 4rem;
  color: white;
  background-color: black;
  padding: 4rem;
  justify-items: center;
}

.Copyright {
  font-size: 1.5rem;
  line-height: 3rem;
  text-align: center;
}

.spaceBottom {
  margin-bottom: 4.5rem;
}

.ContactBar {
  background-color: $color-primary;
  color: $color-text-negative;
  
}
.Wrapper {
  padding: 2rem;
  display: grid;
  grid-gap: 2rem;
  justify-content: center;
  @media screen and (min-width: $tablet-min) {
    display: flex;
    justify-content: space-between;
  }
}

.ContactItem {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 2rem;
  justify-items: left;
  align-items: center;
}

.SocialMedia {
  text-align: center;
}

.SocialIcons {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4rem;
  justify-items: center;
  align-items: center;
}

.SocialIcon {
  width: 25px;
}

.ActionIcon {
  width: 25px;
}

.logo {
  width: 70%;
  @media screen and (min-width: $tablet-min) {
    width: auto;
  }
}