.footer {
  display: flex;
  color: white;
  background-color: black;
  padding: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright {
  font-size: 1.5rem;
}

.spaceBottom {
  margin-bottom: 4.5rem;
}